<div class="task-list-container">
  <div class="heading">
    <h3>Tasks</h3>
    <div>
      <span class="status-dot in-progress">In Progress</span>
      <span class="status-dot completed">Completed</span>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      @for (task of tasks; track task.id) {
      <tr>
        <td>
          <label [class.completed-task]="task.completed">
            <input
              type="checkbox"
              aria-label="Select task"
              [checked]="task.completed"
              (click)="handleCheckbox(task.id)"
            />
            {{ task.name }}
          </label>
        </td>
        <td>
          <span
            [class.completed]="task.completed"
            [class.in-progress]="!task.completed"
            >{{ task.completed ? 'Completed' : 'In Progress' }}</span
          >
        </td>
        <td class="due-date">{{ task.dueDate | date : 'YYYY-MM-dd' }}</td>
        <td (click)="deleteTask(task.id)">x</td>
      </tr>
      }
    </tbody>
  </table>
  <div class="button-container">
    <button>Add New Task</button>
  </div>
</div>
