:host {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: url(/assets/images/starcraft/background.jpg) no-repeat center 0
    #00041a;
  background-size: 100% auto;
  overflow: hidden;
}
